<nav class="navbar navbar-expand-md navbar-primary" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent a Car</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">       </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Markalar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ford</a></li>
            <li><a class="dropdown-item" href="#">Renault</a></li>
            <li><a class="dropdown-item" href="#">Fiat</a></li>
            <li><a class="dropdown-item" href="#">Toyota</a></li>
            <li><a class="dropdown-item" href="#">Opel</a></li>
            <li><a class="dropdown-item" href="#">Hyundai</a></li>
            <li><a class="dropdown-item" href="#">Citroen</a></li>
            <li><a class="dropdown-item" href="#">Peugeot</a></li>
            <li><a class="dropdown-item" href="#">Volkswagen</a></li>
            <li><a class="dropdown-item" href="#">BMW</a></li>
            <li><a class="dropdown-item" href="#">Audi</a></li>
            <li><a class="dropdown-item" href="#">Skoda</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Araçlar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Yeni araç kayıt</a></li>
            <li><a class="dropdown-item" href="#">Araç listesi</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Müşteriler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Yeni müşteri kayıt</a></li>
            <li><a class="dropdown-item" href="#">Müşteri listesi</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li> -->
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
